{% load staticfiles bootstrap3 %}
{% bootstrap_javascript %}
<script type="text/javascript"
        src="{% static 'assets/lodash/lodash.min.js' %}"></script>
<script type="text/javascript"
        src="{% static 'bootstrap-tag-cloud-master/bootstrap-tag-cloud.js' %}"></script>
<script type="text/javascript"
        src="{% static 'assets/bootstrap-table/dist/bootstrap-table.min.js' %}"></script>
<script type="text/javascript"
        src="{% static 'assets/bootstrap-table/dist/extensions/sorting/bootstrap-table_natural-sorting.min.js' %}"></script>