{% extends 'base/base-list-view.html' %}
{% load i18n django_bootstrap_breadcrumbs dtodo_tags %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "DTodo" "dtodo:index" %}
    {% breadcrumb "Todos" "dtodo:todoList:all" %}
{% endblock %}


{% block title %}
    {% trans 'models.TodoList.all' %}
{% endblock %}

{% block action-buttons %}
    <button type="submit" class="navbar-btn btn btn-primary">
        {% trans 'btn.selectAll' %}
    </button>
    <a href="{% url 'dtodo:todoList:create' %}"
       class="navbar-btn btn btn-primary">
        {% trans 'btn.add' %}
    </a>
    <a id="editBtn" href="{% url 'dtodo:todoList:edit' pk=0 %}"
       class="navbar-btn btn btn-success actionBtn">
        {% trans 'btn.edit' %}
    </a>
    <a id="deleteBtn" href="{% url 'dtodo:todoList:delete' pk=0 %}"
       class="navbar-btn btn btn-danger actionBtn">
        {% trans 'btn.delete' %}
    </a>
    <script type="text/javascript">
        $(function () {
            $('.actionBtn').attr("disabled", true);
        });
    </script>
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#"
               class="dropdown-toggle"
               data-toggle="dropdown"
               role="button"
               aria-expanded="false">
                {% trans 'FILTER_BY' %}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                {% for value,label in filter_by %}
                    <li>
                        <a href="{% url 'dtodo:todoList:all' %}?filterBy={% trans value %}">{{ label }}</a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
{% endblock %}

{% block table-content %}
    {% if object_list %}
        {% include 'sortable_listview/sort_links.html' %}
        <ul id="allTodoLists" class="list-group">
            {% for todoList in object_list %}
                <li data-id="{{ todoList.id }}"
                    class="list-group-item list-group-item-{% todolist_contextual_class_visibility todoList.visibility %}">
                    <a href="{% url 'dtodo:todoList:view' pk=todoList.id %}">{{ todoList }}</a>
                </li>
            {% endfor %}
        </ul>
        <script type="text/javascript">
            $(function () {
                var buttons = $('.actionBtn');
                $('#allTodoLists').find('li').click(setHref);

                function setHref() {
                    var newHref = [],
                            child,
                            listId,
                            deleteBtnHref;

                    child = $(this);
                    listId = child.data()['id'];

                    if (listId) {
                        deleteBtnHref = buttons.attr('href').split('/');
                        for (var i = 1, length = deleteBtnHref.length; i < length - 1; i++) {
                            newHref.push(deleteBtnHref[i]);
                        }
                        newHref.push(listId);
                        newHref = newHref.join('/');

                        buttons.attr('href', '/' + newHref);
                        buttons.attr('disabled', false);

                        child.unbind('click').click(unsetHref);
                        $('#allTodoLists').find('li').not(child).unbind('click').click(setHref);
                    }
                }

                function unsetHref() {
                    buttons.attr('disabled', true);
                    $('#allTodoLists').find('li').unbind('click').click(setHref);
                }
            });
        </script>
        {% include 'sortable_listview/pagination.html' %}
    {% else %}
        {% trans 'NO_TODO_TO_DISPLAY' %}
    {% endif %}
{% endblock %}