{% extends 'base/base-delete-view.html' %}
{% load i18n django_bootstrap_breadcrumbs bootstrap3 %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "DTodo" "dtodo:index" %}
    {% breadcrumb "Todos" "dtodo:todo:all" %}
    {% breadcrumb "Delete" "dtodo:todo:delete" %}
{% endblock %}

{% block content %}
    <div class="alert alert-danger" role="alert">
        {% blocktrans %}
            Be aware that all associated todos will  be also deleted
        {% endblocktrans %}
    </div>
    {{ block.super }}
{% endblock %}