.dt-body > .dtodo-body-content {
    min-height: 568px;
}

.dt-content {
    -webkit-box-shadow: 5px 5px 13px 1px rgba(118, 138, 240, 1);
    -moz-box-shadow: 5px 5px 13px 1px rgba(118, 138, 240, 1);
    box-shadow: 5px 5px 13px 1px rgba(118, 138, 240, 1);
}

.dt-breadcrumbs > .breadcrumb {
    margin-top: 5px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.dynamic-form {
    border: 2px solid #337ab7;
}

