{% load i18n %}
<nav class="navbar-default sidebar col-md-3" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control"
                           placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </li>
            <li>{# add active class handling here, based on fiven view #}
                <a href="{% url 'dtodo:index' %}">
                    <i class="fa fa-home fa-spin"></i>{% trans 'Index' %}
                </a>
            </li>
        </ul>
    </div>
</nav>