{% extends 'base/base_site.html' %}

{% load i18n django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "DTodo" "dtodo:index" %}
{% endblock %}

{% block content %}

    <p class="text-justify">
        A showcase application for Django Framework realizing Todo concepts.
    </p>
    <div class="container-fluid">
        <p class="text-center">
            Following items has been covered here:
        </p>
        <ul class="list-group">
            <li class="list-group-item"><a
                    href="https://docs.djangoproject.com/en/1.8/topics/db/"
                    target="_blank">Django ORM</a></li>
            <li class="list-group-item"><a
                    href="https://docs.djangoproject.com/en/1.8/ref/class-based-views/"
                    target="_blank">Django Generic Views</a></li>
            <li class="list-group-item"><a
                    href="https://docs.djangoproject.com/en/1.8/topics/http/urls/"
                    target="_blank">Django URL Routing</a></li>
            <li class="list-group-item"><a href="" target="_blank">Django Admin
                Panel</a></li>
        </ul>
    </div>

{% endblock %}