{% extends 'abstract/abstract_site.html' %}
{% load i18n dtodo_tags header_tags django_bootstrap_breadcrumbs bootstrap3 %}

{% block pagetitle %}
    {{ title|default:"DTodo" }}
{% endblock %}

{% block extra_css %}
    {% include 'base/head/dtodo_css.html' %}
{% endblock %}

{% block header_items %}
    {% recenttodos user=request.user limit=5 %}
    {% mostcompletedtodos user=request.user limit=5 %}
    {% user_menu user=request.user %}
{% endblock %}

{% block navigation_items %}
    {{ block.super }}
    <li role="presentation">
        {# add active class handling here, based on fiven view #}
        <a href="{% url 'dtodo:index' %}">
            <i class="fa fa-home fa-lg"></i>{% trans 'Index' %}
        </a>
    </li>
    <li role="presentation">
        <a href="{% url 'dtodo:todo:all' %}">
            <i class="fa fa-envelope fa-lg"></i>{% trans 'models.Todo' %}
        </a>
    </li>
    <li role="presentation">
        <a href="{% url 'dtodo:todoList:all' %}">
            <i class="fa fa-envelope fa-lg"></i>{% trans 'models.TodoList' %}
        </a>
    </li>
    <li role="presentation">
        <a href="{% url 'dtodo:tag:all' %}">
            <i class="fa fa-tags fa-lg"></i>{% trans 'models.Tag' %}
        </a>
    </li>
{% endblock %}
