{% extends 'base/base_site.html' %}
{% load bootstrap3 i18n %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}

        {% block form.errors %}
            {% bootstrap_form_errors form layout='inline' %}
        {% endblock %}

        {% block form.content %}
            {% bootstrap_form form layout='horizontal' %}
        {% endblock %}

        {% block form.actions %}
            {% buttons submit=buttons.submit reset=buttons.reset %}
            {% endbuttons %}
        {% endblock %}

        <script type="text/javascript">
            $(function () {
                $('button[type=submit]').attr('id', 'form-submit');
            });
        </script>
        <input id="isNewItem" value="{{ new_item }}" hidden>
    </form>
{% endblock %}