{% load i18n django_bootstrap_breadcrumbs bootstrap3 cache dtodo_tags %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"
          lang="{{ LANGUAGE_CODE|default:"en-us" }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="kornicameister@gmail.com"/>
    {% block blockbots %}
        <meta name="robots" content="noindex, nofollow"/>
    {% endblock %}

    <title>
        {% block pagetitle %}
        {% endblock %}
    </title>

    {# include css/js files #}
    {% include 'abstract/head/css.html' %}
    {% include 'abstract/head/js.html' %}

    {# allow to include custom css/js per site #}
    {% block extra_css %}{% endblock %}
    {% block extra_js %}{% endblock %}

</head>
<body class="dt-body">
<div class="dt-body-content">

    <nav class="navbar navbar-default navbar-static-top" role="navigation"
         style="margin-bottom: 0">

        {% cache 1000 headerBranding %}
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"
                        data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">
                    DTodo 1.0 /
                    <span class="text-primary text-nowrap">{% pageHeader title default="DTodo" %}</span>
                </span>
            </div>
        {% endcache %}

        <ul class="nav navbar-top-links navbar-right">
            {% block header_items %}
            {% endblock %}
        </ul>

    </nav>

    <nav class="navbar navbar-default col-lg-2 col-md-2 col-sm-2"
         role="navigation">
        <div class="navbar-collapse">
            <ul class="nav nav-pills nav-stacked">
                {% block navigation_items %}
                    {% if request.session.last_visited %}
                        <li role="presentation">
                            <a href="{{ request.session.last_visited }}">
                                <i class="fa fa-backward fa-lg"></i>{% trans 'btn.back' %}
                            </a>
                        </li>
                    {% endif %}
                {% endblock %}
            </ul>
        </div>
    </nav>

    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <div class="container">
            {% block breadcrumbs %}
                {% clear_breadcrumbs %}
                {% breadcrumb_safe "<i class='fa fa-home'></i>" "" %}
            {% endblock %}
            {% render_breadcrumbs %}

            <div class="dt-content well">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    {% cache 10 footer %}
    <footer>
        {% block footer_content %}
        {% endblock %}
    </footer>
    {% endcache %}
</div>
</body>
</html>