{% extends 'base/base_site.html' %}
{% load i18n django_bootstrap_breadcrumbs bootstrap3 dtodo_tags %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "DTodo" "dtodo:index" %}
    {% breadcrumb "Todos" "dtodo:todo:all" %}
    {% breadcrumb "View" "dtodo:todo:view" %}
{% endblock %}

{% block content %}
    <nav class="navbar navbar-form navbar-default">
        <div class="container">
            {% if todo.can_complete %}
                <a href="{% url 'dtodo:todo:delete' pk=todo.id %}" role="button"
                   class="btn btn-success">
                    {% trans 'btn.todo.complete' %}
                </a>
            {% endif %}
            <a id="editBtn" href="{% url 'dtodo:todo:edit' pk=todo.id %}"
               class="navbar-btn btn btn-success">
                {% trans 'btn.edit' %}
            </a>
            <a id="deleteBtn" href="{% url 'dtodo:todo:delete' pk=todo.id %}"
               class="navbar-btn btn btn-danger">
                {% trans 'btn.delete' %}
            </a>
        </div>
    </nav>
    <div class="panel panel-{% todo_contextual_class_visibility todo.visibility %}">
        <div class="panel-heading">
            <div class="panel-title">
                {{ todo.name }} /
                {% if todo.completed %}
                    <i class="fa fa-check fa-lg"
                       title="{% trans 'todo.completed' %}"></i>
                {% else %}
                    <i class="fa fa-times fa-lg"
                       title="{% trans 'todo.inprogres' %}"></i>
                {% endif %}
            </div>
        </div>
        <div class="panel-body">
            {# todo extract to inclusion tag and format the progress to DD  #}
            {% if todo.progress %}
                <div style="margin-bottom: 15px;padding-bottom: 20px;">
                    {% progressbar value=todo.progress %}
                </div>
            {% endif %}
            <div class="container-fluid">
                <div class="col-lg-3">
                    <ul class="list-group">
                        {% if todo.list %}
                            <li class="list-group-item">
                                <span class="text-primary">{% trans 'model.Todo.list' %}</span>
                                ::
                                <a href="{% url 'dtodo:todoList:view' pk=todo.list.id %}">{{ todo.list.name }}</a>
                            </li>
                        {% endif %}
                        <li class="list-group-item">
                            <span class="text-primary">{% trans 'model.Todo.owned_by' %}</span>
                            ::
                            <a href="#">{{ todo.owned_by.username }}</a>
                        </li>
                    </ul>
                </div>
                {% with todo.todoitem_set.all as allItems %}
                    <div class="col-lg-9">
                        {% if allItems %}
                            {# add table here with all task items listed using some js to provide searching etc #}
                            <table data-classes="table table-hover table-condensed"
                                   data-striped="true"
                                   data-show-columns="true"
                                   data-sort-name="name"
                                   data-sort-order="desc"
                                   data-toggle="table">
                                <thead>
                                <tr>
                                    <th data-switchable="false"
                                        data-sortable="true"
                                        class="col-xs-1">{% trans 'model.TodoItem.title' %}</th>
                                    <th class="col-xs-2">{% trans 'model.TodoItem.description' %}</th>
                                    <th data-sortable="true"
                                        class="col-xs-1">{% trans 'model.TodoItem.importance' %}</th>
                                    <th data-sortable="true"
                                        class="col-xs-1">{% trans 'model.TodoItem.done' %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in allItems %}
                                    <tr>
                                        <td data-field="title">
                                            {# add url to go to edit view of the task #}
                                            {{ item.title }}
                                        </td>
                                        <td data-field="description">{{ item.description }}</td>
                                        <td data-field="importance">{{ item.importance }}</td>
                                        <td data-field="done">
                                            {# todo add posibility to complete here #}
                                            {% if item.done %}
                                                <i class="fa fa-check fa-lg"
                                                   title="{% trans 'todoitem.done' %}"></i>
                                            {% else %}
                                                <i class="fa fa-times fa-lg"
                                                   title="{% trans 'todoitem.notdone' %}"></i>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                        {% if not allItems %}
                            <p class="text-info">
                                {% trans 'Todo has no items to be displayed' %}
                            </p>
                        {% endif %}
                    </div>
                {% endwith %}
            </div>
        </div>
        <div class="panel-footer">
            {% for tag in todo.tags.all %}
                <span class="text-info">
                    {{ tag }}
                </span>
            {% endfor %}
        </div>
    </div>
{% endblock %}